 # what are data structure and why are they important?
   - a data structure is a way of organising and storing data. they are important because they enable efficent storage retrival and modification of data which is crucial for building fast and scalable software.


 #  Explain the difference between mutable and immutable data types with examples
   - mutable data types can be changed after they created (e.g.,lists and dicitonaries), while immutable data types cannot be changed (e.g., strings and tuples). if you can modify an immutable object, your actually creating a new objject.


  # What are the main differences between lists and tuples in Python3
    - List → mutable, dynamic, slower, for changing data

     Tuple → immutable, faster, for fixed data

  
  #  Describe how dictionaries store data
    - Dictionaries store data as key–value pairs in a hash table, using hashing for fast lookups
  
  # Why might you use a set instead of a list in Python?
    - Use a set when you need unique elements and fast membership tests, or when working with mathematical set operations.

  
  # What is a string in Python, and how is it different from a list?
    - String → immutable sequence of characters

      List → mutable sequence of elements (any data type)

  
  #  How do tuples ensure data integrity in Python?
    - Tuples ensure data integrity by being immutable and hashable, which prevents accidental changes and makes them safe for use as keys or constants.

  
  # What is a hash table, and how does it relate to dictionaries in Python?
    - a hash table is  a data is a data structure that stores data in key values pair. python dicitionaries are implemented using hash tables which allowed them to provide very fast data retrival.

  
  # Can lists contain different data types in Python?
    - yes this list contains different data types. for example a single list can hold an integers a string float all at once: [1,"hello", 3.14].

  
  # Explain why strings are immutable in Python.
    - string are immutuable for performance and efficiency. they are a fundamental data type and immutability allows them to be stored and accessed more efficiently.

  
  # What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are preferred over lists when you need fast lookups, clear key–value relationships, and easy access without relying on positions.

  
  # Describe a scenario where using a tuple would be preferable over a list?
    - a tuple is preferable for storing coordinates like (x, y) or RGB color values shouldn't change using a tuple ensures they remain constant.

  
  # How do sets handle duplicate values in Python?
    - sets automatically handle duplicate values by storing only one instance of each element. if you try to add a set it simply get ignored.


  # How does the “in” keyword work differently for lists and dictionaries?
    - for lists the in keyword checks if an element's value exist within the list. for dictionaries the in keyword checks if a key exist within the dictionaries.


  # Can you modify the elements of a tuple? Explain why or why not.
    - No you cannot modify the elements of a tuple because tuples are immutuable. once a tuple is created its elements and their order are fixed.


  # What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary that contains another dictionary as its value.

Example & Use Case:
students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 22}
}

print(students["101"]["name"])  # Alice


 # Describe the time complexity of accessing elements in a dictionary.
   - Accessing elements in a Python dictionary:

     Average Case: O(1) → Direct lookup using hashing.

     Worst Case: O(n) → Happens only if many keys collide (rare, since Python optimizes hashing).

     In practice, dictionary access is considered constant time (O(1)).


 # In what situations are lists preferred over dictionaries?
   - Use a list when you need ordered, sequential data and don’t require named keys.
     Use a dictionary when you need fast lookups by unique keys.

  # Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they are designed for fast key lookups, not positional access. This means you retrieve items by key, not by order.

  # Explain the difference between a list and a dictionary in terms of data retrieval.
    - List → Retrieve by position (index).

     Dictionary → Retrieve by unique key.

In [1]:
 # Write a code to create a string with your name and print it.

name = "Naman"
print(name)

Naman

In [5]:
 # Write a code to find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [7]:
 #  Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [9]:
 # Write a code to convert the string "hello" to uppercase.

 text = "hello"
 print(text.upper())

HELLO

In [10]:
 # Write a code to replace the word "apple" with "orange" in the string "I like apple".

 text = "I like apple"
 print(text.replace("apple", "orange"))

I like orange

In [11]:
 # Write a code to create a list with numbers 1 to 5 and print it.

 list = [1,2,3,4,5]
 print(list)

[1, 2, 3, 4, 5]

In [12]:
 # Write a code to append the number 10 to the list [1, 2, 3, 4].

 list = [1,2,3,4]
 list.append(10)
 print(list)

[1, 2, 3, 4, 10]

In [13]:
 # Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

 list = [1,2,3,4,5]
 list.remove(3)
 print(list)

[1, 2, 4, 5]

In [14]:
 # Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

 list = ['a', 'b', 'c', 'd']
 print(list[1])

b

In [15]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [16]:
 # Write a code to create a tuple with the elements 100, 200, 300 and print it.

 tuple = (100, 200, 300)
 print(tuple)

(100, 200, 300)

In [17]:
 # Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
0
 tuple = ('red', 'green', 'blue', 'yellow')
 print(tuple[-2])

blue

In [18]:
 # Write a code to find the minimum number in the tuple (10, 20, 5, 15).

 tuple = (10, 20, 5, 15)
 print(min(tuple))

5

In [19]:
 #  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

 tuple = ('dog', 'cat', 'rabbit')
 print(tuple.index("cat"))

1

In [20]:
 # Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

 fruits = ("apple", "banana", "cherry")
 if "kiwi" in fruits:
    print("kiwi is in the tuple")
 else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [21]:
 # Write a code to create a set with the elements 'a', 'b', 'c' and print it.

 set = {'a', 'b', 'c'}
 print(set)

{'a', 'b', 'c'}

In [22]:
 # Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

 set = {1, 2, 3, 4, 5}
 set.clear()
 print(set)

set()

In [23]:
 # Write a code to remove the element 4 from the set {1, 2, 3, 4}.

 set = {1, 2, 3, 4}
 set.remove(4)
 print(set)

{1, 2, 3}

In [24]:
 #  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

 set1 = {1, 2, 3}
 set2 = {3, 4, 5}
 print(set1.union(set2))

{1, 2, 3, 4, 5}

In [25]:
 # Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

 set1 = {1, 2, 3}
 set2 = {2, 3, 4}
 print(set1.intersection(set2))

{2, 3}

In [27]:
 #  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

 dic = {"name": "Naman", "age": 23, "city": "Lucknow"}
 print(dic)

{'name': 'Naman', 'age': 23, 'city': 'Lucknow'}

In [28]:
 # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

 dic = {'name': 'John', 'age': 25}
 dic["country"] = "USA"
 print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
 #  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

 dic = {'name': 'Alice', 'age': 30}
 print(dic["name"])

Alice

In [30]:
 # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

 dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 dic.pop("age")
 print(dic)

{'name': 'Bob', 'city': 'New York'}

In [31]:
 #  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

 dic = {'name': 'Alice', 'city': 'Paris'}
 if "city" in dic:
    print("city is in the dictionary")
 else:
    print("city is not in the dictionary")

city is in the dictionary

In [41]:
 # Write a code to create a list, a tuple, and a dictionary, and print them all.

 list = [1,2,3,4,5]
 tuple = (1,2,3,4,5)
 dic = {"name": "Naman", "age": 23, "city": "Lucknow"}

In [34]:
 #  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

 import random

 random_numbers = [random.randint(1, 100) for _ in range(5)]
 random_numbers.sort()
 print(random_numbers)

[28, 34, 44, 63, 64]

In [35]:
 # Write a code to create a list with strings and print the element at the third index.

 list = ["apple", "banana", "cherry", "date", "elderberry"]
 print(list[3])

date

In [36]:
 # Write a code to combine two dictionaries into one and print the result.

 dic1 = {"name": "Naman", "age": 23, "city": "Lucknow"}
 dic2 = {"name": "Naman", "age": 23, "city": "Lucknow"}

In [57]:
 # Write a code to convert a list of strings into a set.

# List of strings
fruits_list = ["banana", "date", "apple", "cherry", "elderberry"]

# Convert list to set
fruits_set = set(fruits_list)

# Print the set
print(fruits_set)

{'apple', 'elderberry', 'banana', 'date', 'cherry'}